@font-face {
    font-family: 'Norse-Bold';
    src: url('source/Norse-Bold.otf') format('opentype');
  }

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

.main {
    display: flex;
    height: 100vh;
    font-family: Helvetica, sans-serif;
    background-color: ghostwhite;
}

.leftSide {
    background-image: url(source/background-img.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.leftSide .imgCredit {
    margin-bottom: 1rem;
    margin-top: auto;
    text-align: center;
    font-size: 1.3rem;
    color: azure;
}

.imgCredit a {
    color: azure;
}

.rightSide {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.leftSide .logo {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 22vh;
}

.logo img {
    height: 12rem;
    padding: 1rem 0;
}

.logo .text {
    color: rgb(235, 235, 235);
    font-family:'Norse-Bold', Courier, monospace;
    font-size: 8rem;

    position: relative;
    top: 1rem;
}

.rightSide header {
    font-size: 1.8rem;
    width: 100%;
}

header p {
    padding: 17vh 7% 3% 5%;
}

header .bottomLine {
    padding: 0;
    padding-left: 5%;
    padding-bottom: 5vh;
}

.rightSide h2{
    font-size: 2rem;
    padding-bottom: 2vh;
    opacity: 80%;
}

.rightSide .inputSection {
    background-color: white;
    box-shadow: 0px 5px 5px -5px rgb(176, 170, 170);
    padding: 3% 5% 2% 5%;
}

form .input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-weight: bold;
    opacity: 60%;
    margin: 0 5rem 1.5rem 0;
}

.input label {
    margin-bottom: 0.1rem;
}

.input .error {
    padding-top: 0.1rem;
    font-weight: lighter;
    color: rgb(170, 21, 21);
}

input {
    border: 1px solid rgb(241, 233, 233);
    border-radius: 0.3rem;
    height: 2.5rem;
    width: 18vw;
}

form .details {
    display: flex;
    flex-wrap: wrap;
}

form input:focus {
    outline: 1px solid rgb(80, 80, 225);
    box-shadow: 1px 1px 5px rgb(176, 170, 170);
}

form section {
    color: rgb(65, 64, 64);
}

.submitSection {
    padding-top: 4%;
    padding-left: 5%;
    height: 20%;
}

.submitSection button {
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    margin-bottom: 3vh;

    font-weight: bold;
    color: white;
    background-color: #596D48;
    box-shadow: 1px 1px 5px rgb(176, 170, 170);
}

.submitSection .logInText {
    font-size: 1.3rem;
}

.logInText a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}